@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&family=RocknRoll+One&display=swap');

.modal {
  font-size: 16px;
  background-color: #e90707;
  color: white;
  font-family: 'Nunito Sans, sans-serif';
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 450px;
  height: 250px;
  border-radius: 5px;
}
.modal > .header {
  font-size: x-large;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.downloadButton {
  text-decoration: none;
  color: #c40607;
}
